<div class="form-group row mt-10">
    <div class="col-12">
        <p class="text-danger font-weight-bold">(*) Fields required</p>
        <a href="#" class="btn btn-primary bnt-send"><i class="fas fa-save"></i> Save</a>
        <a href="{{ cancel_path }}" class="btn btn-danger"><i class="fas fa-ban"></i> Cancel</a>
    </div>
</div>