<div class="menu-item">
    <a class="menu-link py-3" href="{{ link_path }}" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
        <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
        </span>
        <span class="menu-title">{{ link_name }}</span>
    </a>
</div>