{% extends 'base.html.twig' %}
{% block title %}Isureit - Dashboard!{% endblock %}
{% block breadcrumb %}
    <div class="toolbar py-5" id="kt_toolbar">
        <div id="kt_toolbar_container" class="container-xxl d-flex flex-stack flex-wrap">
            <div class="page-title d-flex flex-column me-3">
                <h1 class="d-flex text-white fw-bolder my-1 fs-3"> {% trans %}global.dashboard{% endtrans %}</h1>
                <ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
                    <li class="breadcrumb-item text-white opacity-75">
                        <a href="{{ path('dashboard') }}" class="text-white text-hover-primary">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <span class="bullet bg-white opacity-75 w-5px h-2px"></span>
                    </li>
                    <li class="breadcrumb-item text-white opacity-75"> Dashboard</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
{% block body %}
    Dashboard
{% endblock %}
 {% block javascripts %}
     {{ parent()}}
     <script type="text/javascript">
         $(document).ready(function(e){
             $('#link-dashboard').addClass('here')
         })
     </script>
 {% endblock %}


